var merge = require('webpack-merge')
var prodEnv = require('./prod.env')

module.exports = merge(prodEnv, {
  NODE_ENV: '"development"',
  // Firebase - API_KEY
  API_KEY: '""',
  // Firebase - AUTH_DOMAIN
  AUTH_DOMAIN: '""',
  // Firebase - DATABASE_URL
  DATABASE_URL: '""',
  // Firebase - PROJECT_ID
  PROJECT_ID: '""',
  // Firebase - STORAGE_BUCKET
  STORAGE_BUCKET: '""'
})
